// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

html, body {
    background-color: #BEBEBE;
    min-height: 100svh;
    min-height: -webkit-fill-available;
    width: 100svw;
    display: flex;
    font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 500px) {
    .container  {
        max-width: 500px;
    }
}


footer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: env(safe-area-inset-bottom);

    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 0.5rem 0;
        color: #94AFB6;

        span {
            font-size: 11px;
        }
    }
}
