// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
@import '@fortawesome/fontawesome-free/css/fontawesome.css';
@import '@fortawesome/fontawesome-free/css/regular.css';
@import '@fortawesome/fontawesome-free/css/solid.css';
@import '@fortawesome/fontawesome-free/css/brands.css';

html, body {
    background-color: #BEBEBE;
    min-height: 100svh;
    width: 100svw;
    display: flex;
    font-family: 'Nunito', sans-serif;
}
